@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Press Start 2P", cursive;
}
html {
  background-image: url("card-table-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  visibility: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#new-deck {
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

#draw-cards {
  position: fixed;
  padding: 10px;
  color: blue;
  font-weight: bold;
  font-size: 24px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: yellow;
  cursor: pointer;
}

#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 25%;
  flex: 1;
}

#overlay {
  z-index: 1;
  position: fixed;
  top: 40%;
  left: 35%;
  width: 400px;
  height: 200px;
  background-color: yellow;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: blue;
  padding: 10px;
  line-height: 30px;
}

#computer-score,
#player-score {
  text-align: center;
  color: white;
  font-size: 24px;
}

#player-score {
  margin-bottom: 75px;
}
